<div class="home-container">
    <h1>Welcome to my portfolio page!</h1>
    <p>{{upperCase "have a look around."}}</p>
    <p>{{upperCase "have"}} <strong>{{upperCase "fun"}}</strong>.</p>
    <div class="content-container">
        {{>projectsLoop image=true}}
    </div>
</div>